 <!-- <div class="form_container">
  <form>
     <header>Đăng Nhập Hệ Thống</header>
     <label>Username <span>*</span></label>
     <input type="text" name="uname" formControlName="uname"/>

     <div class="help">Ít nhất 6 kí tự</div>
     <label>Mật khẩu <span>*</span></label>
     <input type="password" class="fortextbox" name="passwd" formControlName="passwd"/>

     <div class="help">Phân biệt hoa thường</div>
     <button type="button" (click)="onclick()">Đăng nhập</button> <br>
     <button type="button"  (dblclick)="ondblclick($event)">Đăng nhập</button>
    </form>
</div>

<div class="form_container">
   <h2>{{username}}</h2>
   <input type="text" class="formControlName" (keyup)="onkeyup($event)"/>
</div>

<div class="form_container">
  <input type="password" class="formControlName" (keyup.enter)="onkeyupenter($event)"/>
  <h3>Enter:{{enter}}</h3>
</div>
-->
<h3>Component -> view</h3>

<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
  <div class="panel">
    <div class="panel-title"> Two way banding</div>

  </div>

</div>
